## Project On the Home Credit Model

Objective: As banks look for the custmoer eligibility for how munch amount should be Granted.

<img src="home-credit.jpg" style="height:320px">

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("G:\\A6\\home-credit-default-risk\\application_train.csv")

In [3]:
# list of Variable names
df.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [4]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.tail()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [6]:
# Dimension of the dataset
df.shape

(307511, 122)

## Pre-processing 
### Step 1 : Memory_management

In [7]:
def memory_management(train_identity):
    """ iterate through all the columns of a dataframe and modify the data type
    to reduce memory usage."""

    df=train_identity
    start_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage of dataframe is {:.2f} MB'.format(start_mem))
    for col in df.columns:
        col_type = df[col].dtype

        if col_type != object:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)
        else:
            df[col] = df[col].astype('category')
    end_mem = df.memory_usage().sum() / 1024**2
    print('Memory usage after optimization is: {:.2f} MB'.format(end_mem))
    print('Decreased by {:.1f}%'.format(100 * (start_mem - end_mem) / start_mem))
    print("*******************************************************************************************")
    train_identity=df
    return df

In [8]:
# size reduced for df and named as df1
df1=memory_management(df)

Memory usage of dataframe is 286.23 MB
Memory usage after optimization is: 59.54 MB
Decreased by 79.2%
*******************************************************************************************

### Step 2: null_values treatment

In [9]:
def null_values(base_dataset):
    print(base_dataset.isna().sum())
    ## null value percentage     
    null_value_table=(base_dataset.isna().sum()/base_dataset.shape[0])*100
    ## null value percentage beyond threshold drop , else treat the columns 
    
    retained_columns=null_value_table[null_value_table<int(input())].index
    # if any variable as null value greater than input(like 30% of the data) value than those variable are consider as drop
    drop_columns=null_value_table[null_value_table>int(input())].index
    base_dataset.drop(drop_columns,axis=1,inplace=True)
    len(base_dataset.isna().sum().index)
    cont=base_dataset.describe().columns
    cat=[i for i in base_dataset.columns if i not in base_dataset.describe().columns]
    for i in cat:
        base_dataset[i].fillna(base_dataset[i].value_counts().index[0],inplace=True)
    for i in cont:
        base_dataset[i].fillna(base_dataset[i].median(),inplace=True)
    print(base_dataset.isna().sum())
    return base_dataset,cat,cont

In [10]:
df2,cat,cont=null_values(df1)

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
NAME_TYPE_SUITE                 1292
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
DAYS_ID_PUBLISH                    0
OWN_CAR_AGE                   202929
FLAG_MOBIL                         0
FLAG_EMP_PHONE                     0
FLAG_WORK_PHONE                    0
FLAG_CONT_MOBILE                   0
FLAG_PHONE                         0
FLAG_EMAIL                         0
OCCUPATION_TYPE                96391
CNT_FAM_MEMBERS                    2
                               ...
DEF_30_CNT_SOCIAL_CIRCLE        1021
OBS_60_CNT_SOCIAL_CIRCLE        1021
DEF_60_CNT_SOCIAL_CIRCLE        1021
DAYS_LAST_PHONE_CHANGE             1
FLAG_DOCUMENT_2                    0
FLAG_DOCUMENT_3                    0
FLAG_DOCUMENT_4                    0
FLAG_DOCUMENT_5                    0
FLAG_DOCUMENT_6                    0
FLAG_DOCUMENT_7                    0
FLAG_DOCUMENT_8                    0
FLAG_DOCUMENT_9                    0
FLAG_DOCUMENT_10                   0
FLAG_DOCUMENT_11                   0
FLAG_DOCUMENT_12                   0
FLAG_DOCUMENT_13                   0
FLAG_DOCUMENT_14                   0
FLAG_DOCUMENT_15                   0
FLAG_DOCUMENT_16                   0
FLAG_DOCUMENT_17                   0
FLAG_DOCUMENT_18                   0
FLAG_DOCUMENT_19                   0
FLAG_DOCUMENT_20                   0
FLAG_DOCUMENT_21                   0
AMT_REQ_CREDIT_BUREAU_HOUR     41519
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
Length: 122, dtype: int64
30
30
SK_ID_CURR                     0
TARGET                         0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_INCOME_TOTAL               0
AMT_CREDIT                     0
AMT_ANNUITY                    0
AMT_GOODS_PRICE                0
NAME_TYPE_SUITE                0
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
REGION_POPULATION_RELATIVE     0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_REGISTRATION              0
DAYS_ID_PUBLISH                0
FLAG_MOBIL                     0
FLAG_EMP_PHONE                 0
FLAG_WORK_PHONE                0
FLAG_CONT_MOBILE               0
FLAG_PHONE                     0
FLAG_EMAIL                     0
CNT_FAM_MEMBERS                0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
                              ..
DEF_30_CNT_SOCIAL_CIRCLE       0
OBS_60_CNT_SOCIAL_CIRCLE       0
DEF_60_CNT_SOCIAL_CIRCLE       0
DAYS_LAST_PHONE_CHANGE         0
FLAG_DOCUMENT_2                0
FLAG_DOCUMENT_3                0
FLAG_DOCUMENT_4                0
FLAG_DOCUMENT_5                0
FLAG_DOCUMENT_6                0
FLAG_DOCUMENT_7                0
FLAG_DOCUMENT_8                0
FLAG_DOCUMENT_9                0
FLAG_DOCUMENT_10               0
FLAG_DOCUMENT_11               0
FLAG_DOCUMENT_12               0
FLAG_DOCUMENT_13               0
FLAG_DOCUMENT_14               0
FLAG_DOCUMENT_15               0
FLAG_DOCUMENT_16               0
FLAG_DOCUMENT_17               0
FLAG_DOCUMENT_18               0
FLAG_DOCUMENT_19               0
FLAG_DOCUMENT_20               0
FLAG_DOCUMENT_21               0
AMT_REQ_CREDIT_BUREAU_HOUR     0
AMT_REQ_CREDIT_BUREAU_DAY      0
AMT_REQ_CREDIT_BUREAU_WEEK     0
AMT_REQ_CREDIT_BUREAU_MON      0
AMT_REQ_CREDIT_BUREAU_QRT      0
AMT_REQ_CREDIT_BUREAU_YEAR     0
Length: 72, dtype: int64

The above code is for null value treatmeant and here we give 30 value for categorical and numercial variable as null value treatment. Means Above 30% value of have empty value we drop that variable and any varible below 30% empty value or no null value in any variable are taken as consider for the analysis

In [11]:
# A list of string variable
cat

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE']

In [12]:
# A list of numerical varaible
cont

Index(['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE',
       'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL',
       'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

### using sample data

In [13]:
df2.shape

(307511, 72)

In [14]:
df3=df2.sample(10000)

In [15]:
df3.shape

(10000, 72)

### Step 2: Outlier Treatment

In [17]:
def outliers_transform(base_dataset):
    for i in base_dataset.var().sort_values(ascending=False).index[1:10]:
        x=np.array(base_dataset[i])
        qr1=np.quantile(x,0.25)
        qr3=np.quantile(x,0.75)
        iqr=qr3-qr1
        utv=qr3+(1.5*(iqr))
        ltv=qr1-(1.5*(iqr))
        y=[]
        for p in x:
            if p <ltv or p>utv:
                y.append(np.median(x))
            else:
                y.append(p)
        base_dataset[i]=y

In [18]:
outliers_transform(df3)

### Step 3: LabelEncoder

###### Now we are converting string value to numerical value for all the variable in the dataset

In [19]:
from sklearn.preprocessing import LabelEncoder
def label_encoders(data,cat):
    le=LabelEncoder()
    for i in cat:
        le.fit(data[i])
        x=le.transform(data[i])
        data[i]=x
    return data

In [20]:
df4=label_encoders(df3,cat)

## Create a base model by taking all variable in the model.

In [21]:
y=df4['AMT_CREDIT']
x=df4.drop('AMT_CREDIT',axis=1)

And in the above code we are taking the variable y(dependent) and x(Independent) for our analysis.

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(x,y,random_state=120,test_size=0.2)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(8000, 71) (2000, 71) (8000,) (2000,)

In the above code we have split the data into train and test. The output of 1st is for train and 2nd is test

In [23]:
from sklearn.linear_model import LinearRegression
ln=LinearRegression()
ln.fit(X_train,y_train)
ln.predict(X_test)

array([693096.96689273, 415469.40692014, 602546.11117523, ...,
       661955.93759959, 164081.71965699, 260497.99755064])

We are predict the y variable values.

In [24]:
# for understanding we are printing the top5 predicted value 
P=ln.predict(X_test)
Pr=pd.DataFrame(P)
Pr.head(10)

              0
0  6.930970e+05
1  4.154694e+05
2  6.025461e+05
3  4.442312e+05
4  7.434430e+05
5  7.480552e+05
6  3.369303e+05
7  6.803749e+05
8  8.471273e+05
9  1.110948e+06

In [25]:
coef_table=pd.DataFrame([ln.coef_,X_test.columns,ln.get_params()]).T

In [27]:
coef_table.columns=['coeff','columns','Name']

# for better look
coef_b=pd.DataFrame(coef_table)
coef_b

          coeff                      columns           Name
0    -0.0170805                   SK_ID_CURR         copy_X
1      -4036.28                       TARGET  fit_intercept
2      -44282.6           NAME_CONTRACT_TYPE         n_jobs
3      -7203.68                  CODE_GENDER      normalize
4      -6661.36                 FLAG_OWN_CAR           None
5      -5674.72              FLAG_OWN_REALTY           None
6       -2276.5                 CNT_CHILDREN           None
7     0.0952272             AMT_INCOME_TOTAL           None
8       6.72113                  AMT_ANNUITY           None
9      0.868506              AMT_GOODS_PRICE           None
10      1191.24              NAME_TYPE_SUITE           None
11     -1288.02             NAME_INCOME_TYPE           None
12     -1318.53          NAME_EDUCATION_TYPE           None
13     -1616.49           NAME_FAMILY_STATUS           None
14      288.917            NAME_HOUSING_TYPE           None
15       149843   REGION_POPULATION_RELATIVE           None
16      -1.2283                   DAYS_BIRTH           None
17     -3.08673                DAYS_EMPLOYED           None
18     0.323493            DAYS_REGISTRATION           None
19     0.429986              DAYS_ID_PUBLISH           None
20  3.51759e-05                   FLAG_MOBIL           None
21     -10400.3               FLAG_EMP_PHONE           None
22     -13492.1              FLAG_WORK_PHONE           None
23      13323.9             FLAG_CONT_MOBILE           None
24      4665.91                   FLAG_PHONE           None
25     -11082.9                   FLAG_EMAIL           None
26      2272.51              CNT_FAM_MEMBERS           None
27     -6770.72         REGION_RATING_CLIENT           None
28      1472.94  REGION_RATING_CLIENT_W_CITY           None
29      874.337   WEEKDAY_APPR_PROCESS_START           None
..          ...                          ...            ...
41      6267.92     DEF_30_CNT_SOCIAL_CIRCLE           None
42      1772.49     OBS_60_CNT_SOCIAL_CIRCLE           None
43     -10153.9     DEF_60_CNT_SOCIAL_CIRCLE           None
44    -0.881862       DAYS_LAST_PHONE_CHANGE           None
45 -4.22885e-06              FLAG_DOCUMENT_2           None
46     -22991.2              FLAG_DOCUMENT_3           None
47 -9.04329e-07              FLAG_DOCUMENT_4           None
48      4622.61              FLAG_DOCUMENT_5           None
49     -33236.1              FLAG_DOCUMENT_6           None
50       392807              FLAG_DOCUMENT_7           None
51     -14368.2              FLAG_DOCUMENT_8           None
52       -92714              FLAG_DOCUMENT_9           None
53  2.15194e-07             FLAG_DOCUMENT_10           None
54      53083.2             FLAG_DOCUMENT_11           None
55 -2.70884e-08             FLAG_DOCUMENT_12           None
56      62806.4             FLAG_DOCUMENT_13           None
57      54383.9             FLAG_DOCUMENT_14           None
58       189245             FLAG_DOCUMENT_15           None
59        35037             FLAG_DOCUMENT_16           None
60     -35979.3             FLAG_DOCUMENT_17           None
61      46385.3             FLAG_DOCUMENT_18           None
62       184016             FLAG_DOCUMENT_19           None
63      -163403             FLAG_DOCUMENT_20           None
64      26539.4             FLAG_DOCUMENT_21           None
65     -7779.66   AMT_REQ_CREDIT_BUREAU_HOUR           None
66      34529.2    AMT_REQ_CREDIT_BUREAU_DAY           None
67      11945.9   AMT_REQ_CREDIT_BUREAU_WEEK           None
68      5307.58    AMT_REQ_CREDIT_BUREAU_MON           None
69      5400.52    AMT_REQ_CREDIT_BUREAU_QRT           None
70     -1395.57   AMT_REQ_CREDIT_BUREAU_YEAR           None

[71 rows x 3 columns]

In [28]:
# Top 5 
coef_table.sort_values("coeff").head()

      coeff             columns    Name
63  -163403    FLAG_DOCUMENT_20    None
52   -92714     FLAG_DOCUMENT_9    None
2  -44282.6  NAME_CONTRACT_TYPE  n_jobs
60 -35979.3    FLAG_DOCUMENT_17    None
49 -33236.1     FLAG_DOCUMENT_6    None

#### Interpretation:

In [29]:
# Bottom 5
coef_table.sort_values("coeff").tail()

      coeff                     columns  Name
56  62806.4            FLAG_DOCUMENT_13  None
15   149843  REGION_POPULATION_RELATIVE  None
62   184016            FLAG_DOCUMENT_19  None
58   189245            FLAG_DOCUMENT_15  None
50   392807             FLAG_DOCUMENT_7  None

#### Interpretation:

In [30]:
# r square value
ln.score(X_train,y_train)

0.8065620561424718

#### Interpretation of R squre: From the R squre value we can say that model is good fit.
$Note$: The R-square value is nothing but the variance explained in the dependent variable by inculding all the variables together

In [33]:
import maplotlib.pypolt as plt
predicted=ln.predict(X_test)
actual=list(y_test.values)
act_pred=pd.DataFrame(actual[0:100],predicted[0:100]).reset_index()
act_pred.plot(figsize=(10,10))

ModuleNotFoundError: No module named 'maplotlib'

In [26]:
act_pred.columns=['predicted','actual']

In [27]:
act_pred.head()

       predicted    actual
0  309197.697301  364896.0
1  182614.639702  199080.0
2  396985.661413  368163.0
3   92672.690952   76410.0
4  726634.474060  781920.0

###### As we used the sklearn package to get the output for every matric and now lets try for statsmodel

## Stats Models Interpretations

In [15]:
import statsmodels.api as sm
mod = sm.OLS(y,x)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             AMT_CREDIT   R-squared:                       0.896
Model:                            OLS   Adj. R-squared:                  0.895
Method:                 Least Squares   F-statistic:                     1253.
Date:                Sat, 09 Nov 2019   Prob (F-statistic):               0.00
Time:                        11:31:44   Log-Likelihood:            -1.3060e+05
No. Observations:               10000   AIC:                         2.613e+05
Df Residuals:                    9931   BIC:                         2.618e+05
Df Model:                          68
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
SK_ID_CURR                      0.0005      0.011      0.049      0.961      -0.021       0.022
TARGET                       4263.5972   4389.515      0.971      0.331   -4340.743    1.29e+04
NAME_CONTRACT_TYPE          -5.719e+04   9644.402     -5.930      0.000   -7.61e+04   -3.83e+04
CODE_GENDER                 -5617.7320   2708.396     -2.074      0.038   -1.09e+04    -308.726
FLAG_OWN_CAR                 2489.7438   2687.221      0.927      0.354   -2777.755    7757.242
FLAG_OWN_REALTY             -4016.8146   2637.944     -1.523      0.128   -9187.720    1154.091
CNT_CHILDREN                 -706.3872   6542.698     -0.108      0.914   -1.35e+04    1.21e+04
AMT_INCOME_TOTAL                0.0352      0.021      1.639      0.101      -0.007       0.077
AMT_ANNUITY                     2.8465      0.144     19.715      0.000       2.564       3.130
AMT_GOODS_PRICE                 0.9784      0.005    181.717      0.000       0.968       0.989
NAME_TYPE_SUITE               554.8987    641.210      0.865      0.387    -702.003    1811.801
NAME_INCOME_TYPE             -359.1919    735.384     -0.488      0.625   -1800.695    1082.311
NAME_EDUCATION_TYPE           315.1332    929.204      0.339      0.735   -1506.296    2136.562
NAME_FAMILY_STATUS          -1046.2224   2621.067     -0.399      0.690   -6184.045    4091.600
NAME_HOUSING_TYPE            -731.7269   1314.234     -0.557      0.578   -3307.892    1844.438
REGION_POPULATION_RELATIVE  -2.923e+05   9.94e+04     -2.942      0.003   -4.87e+05   -9.75e+04
DAYS_BIRTH                     -0.9521      0.391     -2.437      0.015      -1.718      -0.186
DAYS_EMPLOYED                   1.4800      0.902      1.641      0.101      -0.288       3.248
DAYS_REGISTRATION               0.0633      0.352      0.180      0.857      -0.626       0.753
DAYS_ID_PUBLISH                 0.9794      0.817      1.199      0.230      -0.621       2.580
FLAG_MOBIL                  -2.477e+04   3.48e+04     -0.712      0.477    -9.3e+04    4.35e+04
FLAG_EMP_PHONE               1.005e+04   5347.097      1.880      0.060    -427.301    2.05e+04
FLAG_WORK_PHONE             -1.479e+04   3213.117     -4.604      0.000   -2.11e+04   -8495.445
FLAG_CONT_MOBILE             3.372e+04   2.44e+04      1.384      0.166    -1.4e+04    8.15e+04
FLAG_PHONE                   1814.3921   2752.665      0.659      0.510   -3581.391    7210.175
FLAG_EMAIL                  -5109.0260   4859.196     -1.051      0.293   -1.46e+04    4415.985
CNT_FAM_MEMBERS              2424.8807   6116.756      0.396      0.692   -9565.202    1.44e+04
REGION_RATING_CLIENT         8156.6855   6955.944      1.173      0.241   -5478.377    2.18e+04
REGION_RATING_CLIENT_W_CITY -9220.6207   7009.927     -1.315      0.188    -2.3e+04    4520.258
WEEKDAY_APPR_PROCESS_START    182.0792    534.814      0.340      0.734    -866.265    1230.423
HOUR_APPR_PROCESS_START      -299.5499    372.062     -0.805      0.421   -1028.868     429.768
REG_REGION_NOT_LIVE_REGION  -1347.8263   1.45e+04     -0.093      0.926   -2.98e+04    2.71e+04
REG_REGION_NOT_WORK_REGION  -3.045e+04   1.58e+04     -1.922      0.055   -6.15e+04     607.838
LIVE_REGION_NOT_WORK_REGION  3.089e+04   1.59e+04      1.941      0.052    -312.893    6.21e+04
REG_CITY_NOT_LIVE_CITY      -5249.9058   6202.162     -0.846      0.397   -1.74e+04    6907.591
REG_CITY_NOT_WORK_CITY       5945.4401   7064.000      0.842      0.400   -7901.434    1.98e+04
LIVE_CITY_NOT_WORK_CITY     -1.093e+04   6939.814     -1.575      0.115   -2.45e+04    2670.892
ORGANIZATION_TYPE            -126.5093     75.153     -1.683      0.092    -273.825      20.806
EXT_SOURCE_2                -2104.6080   6601.341     -0.319      0.750    -1.5e+04    1.08e+04
EXT_SOURCE_3                 9993.0622   6825.138      1.464      0.143   -3385.593    2.34e+04
OBS_30_CNT_SOCIAL_CIRCLE    -1.145e+04   8621.944     -1.328      0.184   -2.83e+04    5451.921
DEF_30_CNT_SOCIAL_CIRCLE    -1812.4564   5191.139     -0.349      0.727    -1.2e+04    8363.229
OBS_60_CNT_SOCIAL_CIRCLE     1.144e+04   8718.826      1.312      0.189   -5648.343    2.85e+04
DEF_60_CNT_SOCIAL_CIRCLE     -227.7674   6187.823     -0.037      0.971   -1.24e+04    1.19e+04
DAYS_LAST_PHONE_CHANGE         -0.5880      1.463     -0.402      0.688      -3.455       2.279
FLAG_DOCUMENT_2             -1.218e+05   8.15e+04     -1.494      0.135   -2.82e+05     3.8e+04
FLAG_DOCUMENT_3             -1.047e+04   9564.562     -1.094      0.274   -2.92e+04    8280.473
FLAG_DOCUMENT_4              1.231e+04   6.64e+04      0.185      0.853   -1.18e+05    1.42e+05
FLAG_DOCUMENT_5             -1.976e+04   1.18e+04     -1.673      0.094   -4.29e+04    3388.442
FLAG_DOCUMENT_6             -1.039e+04   1.07e+04     -0.969      0.333   -3.14e+04    1.06e+04
FLAG_DOCUMENT_7             -2.193e-08   3.57e-08     -0.615      0.538   -9.18e-08     4.8e-08
FLAG_DOCUMENT_8             -1.203e+04   1.03e+04     -1.166      0.243   -3.23e+04    8188.494
FLAG_DOCUMENT_9             -6407.3768   1.99e+04     -0.322      0.747   -4.54e+04    3.26e+04
FLAG_DOCUMENT_10             1.316e+04   1.14e+05      0.115      0.908   -2.11e+05    2.37e+05
FLAG_DOCUMENT_11             1.588e+04   1.93e+04      0.825      0.410   -2.19e+04    5.36e+04
FLAG_DOCUMENT_12            -1.454e-08   2.35e-08     -0.620      0.535   -6.05e-08    3.14e-08
FLAG_DOCUMENT_13             3.533e+04   1.73e+04      2.041      0.041    1401.272    6.93e+04
FLAG_DOCUMENT_14             6.849e+04    1.8e+04      3.800      0.000    3.32e+04    1.04e+05
FLAG_DOCUMENT_15             2.691e+04   3.63e+04      0.742      0.458   -4.42e+04     9.8e+04
FLAG_DOCUMENT_16             5.116e+04   1.11e+04      4.596      0.000    2.93e+04     7.3e+04
FLAG_DOCUMENT_17            -1191.4884   4.67e+04     -0.026      0.980   -9.27e+04    9.03e+04
FLAG_DOCUMENT_18             3.742e+04   1.31e+04      2.862      0.004    1.18e+04    6.31e+04
FLAG_DOCUMENT_19              7.35e+04   3.48e+04      2.113      0.035    5303.038    1.42e+05
FLAG_DOCUMENT_20             1.061e+05   4.75e+04      2.233      0.026     1.3e+04    1.99e+05
FLAG_DOCUMENT_21             2.647e+04   6.61e+04      0.400      0.689   -1.03e+05    1.56e+05
AMT_REQ_CREDIT_BUREAU_HOUR  -2.496e+04   1.73e+04     -1.440      0.150   -5.89e+04    9018.345
AMT_REQ_CREDIT_BUREAU_DAY    -721.4147   1.28e+04     -0.056      0.955   -2.59e+04    2.44e+04
AMT_REQ_CREDIT_BUREAU_WEEK   -895.8777   6235.790     -0.144      0.886   -1.31e+04    1.13e+04
AMT_REQ_CREDIT_BUREAU_MON     536.1633   1426.279      0.376      0.707   -2259.633    3331.960
AMT_REQ_CREDIT_BUREAU_QRT   -1959.8948   2018.809     -0.971      0.332   -5917.171    1997.381
AMT_REQ_CREDIT_BUREAU_YEAR   -851.1896    668.768     -1.273      0.203   -2162.110     459.731
==============================================================================
Omnibus:                     8937.470   Durbin-Watson:                   2.042
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           943704.082
Skew:                           3.851   Prob(JB):                         0.00
Kurtosis:                      49.964   Cond. No.                     1.33e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.46e-17. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

#### Interpretation: By refereing above summary table
* R-squared: As the basemodel is give us R square 93%, means the basemodel is able explain 93% variation in the model and 7% of the variation are unexplained

* Adj. R-squared: As the basemodel is give us Adj.R square 93%, means the basemodel is able explain 93% variation in the model and 7% of the variation are unexplained
    As per the R square and Adj.R squre it's good model.
    
    $Note$:In the base model we got 93% seems to be suspicious, it may be a overfit or multicollinearity.  

* Coefficent 1: An increase of one unit in TARGET, we expect to increase of AMT_CREDIT to 8929.3809 units.
    
    As follows for other coefficents

##### ANOVA table

From the Analysis of Variance table, we can see that P-value of the F-test is less than < 5%. So, we can reject the null hypothesis and now itâ€™s safe to say that the model is meaningful for any further analysis.Generally, when R-squared is high,you see that the model is significant. In some cases where there are too many junk or insignificant variables in the model, R-squared and F-test behave differently.


###### Testing of Hypothesis

Let see the beta coefficients, the F-test uses them to test the prediction power of a model. If at least one beta coefficient is not equal to zero, then we can conclude that presence of one independent variable in the model that has a significant effect on the dependent variable y which can expilan variation in y. If more than one beta is nonzero, it indicates the presence of multiple independent variables that can explain the variations in y. If one beta is positive, you can conclude that the model has some prediction power.

H0: b1 = b2 = b3 = b4 = b5 = b6 ..... = bn = 0 :means that the variable xi has no impact on dependent variable y

H1: b1 != b2 != ....!= bn !=0 (to saying that at least one b1 != 0.) :mean that the variable xi has some significant impact on     the dependent variable and dropping xi would badly effect your model

* If the P-value of the F-test is less than 5 percent, then you reject the null hypothesis H0, that means the model can be used for useful predictions.
* If the F-test has a P-value greater than 5 percent, then you donâ€™t have sufficient evidence to reject H0, then the model as no predictions power to explian y or model is insignificant.

In simple terms, look at the P-value of the T-test; if it is greater than 5 percent, then your variable is in trouble and you may need drop it. If the P-value less than 5 percent,there is no reason to worry, and you can keep the variable in your model and proceed with further analysis.

From the parameter estimates table if we see the p value of some variable as < 5% and some as > 5% level of significance. 
The variable which as p-value less than 5% then we keep the those variable Further analysis and the variable which as greater than 5% then we drop those variable, because the variable as no effects on y which can explain the variation of dependent variable.

And now we use some well know methods to remove the insignificant variable by using below methods.
* Stepwise selection
* Forward selection
* Backward selection
* P-value selection

#### Method 1: Forward selection

#### Method 2: Backward selection

#### Method 3: Stepwise selection

##### Method 4: P-value method

#### P value Method

In [34]:
#list of pvalues for all the variables
res.pvalues

SK_ID_CURR                      7.939689e-01
TARGET                          6.727541e-01
NAME_CONTRACT_TYPE              9.150434e-03
CODE_GENDER                     3.403944e-06
FLAG_OWN_CAR                    4.821982e-03
FLAG_OWN_REALTY                 5.298692e-04
CNT_CHILDREN                    2.750514e-01
AMT_INCOME_TOTAL                5.746944e-04
AMT_ANNUITY                    2.399382e-246
AMT_GOODS_PRICE                 0.000000e+00
NAME_TYPE_SUITE                 8.733300e-02
NAME_INCOME_TYPE                6.134089e-01
NAME_EDUCATION_TYPE             1.786865e-01
NAME_FAMILY_STATUS              9.040947e-01
NAME_HOUSING_TYPE               4.618047e-01
REGION_POPULATION_RELATIVE      4.933642e-01
DAYS_BIRTH                      1.328537e-09
DAYS_EMPLOYED                   4.140827e-01
DAYS_REGISTRATION               9.293607e-01
DAYS_ID_PUBLISH                 3.723361e-01
FLAG_MOBIL                      5.145121e-02
FLAG_EMP_PHONE                  7.945362e-01
FLAG_WORK_PHONE                 4.853963e-02
FLAG_CONT_MOBILE                4.339964e-01
FLAG_PHONE                      9.199721e-01
FLAG_EMAIL                      2.018292e-01
CNT_FAM_MEMBERS                 2.859227e-01
REGION_RATING_CLIENT            7.392205e-01
REGION_RATING_CLIENT_W_CITY     9.551801e-01
WEEKDAY_APPR_PROCESS_START      2.948000e-01
                                   ...
DEF_30_CNT_SOCIAL_CIRCLE        3.863375e-01
OBS_60_CNT_SOCIAL_CIRCLE        8.780226e-01
DEF_60_CNT_SOCIAL_CIRCLE        7.403016e-01
DAYS_LAST_PHONE_CHANGE          6.923470e-01
FLAG_DOCUMENT_2                 1.754310e-03
FLAG_DOCUMENT_3                 3.595306e-01
FLAG_DOCUMENT_4                 8.061386e-01
FLAG_DOCUMENT_5                 3.697704e-01
FLAG_DOCUMENT_6                 5.471925e-02
FLAG_DOCUMENT_7                 8.638274e-01
FLAG_DOCUMENT_8                 8.884098e-01
FLAG_DOCUMENT_9                 6.574841e-01
FLAG_DOCUMENT_10                9.942997e-01
FLAG_DOCUMENT_11                8.635721e-03
FLAG_DOCUMENT_12                8.061383e-01
FLAG_DOCUMENT_13                3.175991e-01
FLAG_DOCUMENT_14                7.058469e-01
FLAG_DOCUMENT_15                6.282188e-01
FLAG_DOCUMENT_16                3.833117e-03
FLAG_DOCUMENT_17                1.414587e-01
FLAG_DOCUMENT_18                2.646322e-02
FLAG_DOCUMENT_19                3.786024e-01
FLAG_DOCUMENT_20                9.662748e-02
FLAG_DOCUMENT_21                4.997232e-01
AMT_REQ_CREDIT_BUREAU_HOUR      5.141281e-01
AMT_REQ_CREDIT_BUREAU_DAY       8.289092e-01
AMT_REQ_CREDIT_BUREAU_WEEK      9.430007e-02
AMT_REQ_CREDIT_BUREAU_MON       3.426368e-01
AMT_REQ_CREDIT_BUREAU_QRT       7.110745e-02
AMT_REQ_CREDIT_BUREAU_YEAR      7.036792e-05
Length: 71, dtype: float64

In [73]:
# sort the pvalue
Pvalue=pd.DataFrame(res.pvalues)[0].sort_values(ascending=False)
Pvalue.columns=['Variable_Name','P-value']
Pvalue=pd.DataFrame(Pvalue)

In [75]:
# Take only pvalue have > 5% of variables to remove from the model
Premove=Pvalue[Pvalue[0] > 0.05].index
Premove

Index(['NAME_TYPE_SUITE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'FLAG_EMAIL', 'CNT_CHILDREN',
       'NAME_FAMILY_STATUS', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_2', 'NAME_EDUCATION_TYPE',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'LIVE_REGION_NOT_WORK_REGION', 'DAYS_EMPLOYED',
       'REG_CITY_NOT_LIVE_CITY', 'FLAG_EMP_PHONE',
       'REG_REGION_NOT_LIVE_REGION', 'WEEKDAY_APPR_PROCESS_START', 'TARGET',
       'FLAG_CONT_MOBILE', 'NAME_INCOME_TYPE', 'FLAG_DOCUMENT_7',
       'REG_REGION_NOT_WORK_REGION', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'FLAG_OWN_REALTY', 'CNT_FAM_MEMBERS', 'FLAG_DOCUMENT_15', 'SK_ID_CURR',
       'EXT_SOURCE_2', 'REG_CITY_NOT_WORK_CITY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'LIVE_CITY_NOT_WORK_CITY', 'DAYS_REGISTRATION',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'FLAG_DOCUMENT_17', 'EXT_SOURCE_3', 'FLAG_DOCUMENT_20',
       'AMT_REQ_CREDIT_BUREAU_MON', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'ORGANIZATION_TYPE', 'NAME_HOUSING_TYPE',
       'FLAG_MOBIL', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_14', 'REGION_POPULATION_RELATIVE', 'FLAG_DOCUMENT_6',
       'HOUR_APPR_PROCESS_START'],
      dtype='object')

In [79]:
df4.columns.values

array(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL',
       'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS',
       'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
       'ORGANIZATION_TYPE', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype=object)

### Model validation

In [41]:
pred=ln.predict(X_test)
actual=y_test.values
def model_validation(pred,actual):
    from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
    y_pred=ln.predict(X_test)
    return mean_absolute_error(y_test.values,y_pred) ,r2_score(y_test.values,ln.predict(X_test)),mean_squared_error(y_test.values,y_pred)

In [42]:
model_validation(pred,actual)

(45957.9997260523, 0.9760067476410346, 3907232367.9141912)